html, body {
    min-width: 980px;
}

h1 {
    font-family: 'Montserrat', sans-serif;   
}

h2 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
    line-height: 100px;
}

h2 i {
    font-size: 30px;
    line-height: 100px;
    margin-right: 20px;
    position: relative;
    top: -3px;
    vertical-align: middle;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    width: 100%;   
}

.centralize {
    text-align: center;
}

.banner {
    background: #D00C18;
    background-image: url(/img/secot.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    padding-bottom: 40px;
}

.banner .hero-unit {
    background: none;
    color: white;
}

.banner .hero-unit h1 {
    width: 70%;
}

.banner .span3 {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.lead {
    margin-bottom: 10px !important;
    text-align: justify;
}

.inblock {
    color: white;
    display: inline-block;
    font-size: 24.5px;
    font-weight: 300;
    height: 70px;
    line-height: 1em;
    text-align: left;
}

#calendarCarousel {
    margin-top: 80px;
}

.carousel-indicators {
    left: 0;
    text-align: center;
    top: -70px;
}

.carousel-indicators li {
    border-radius: 0;
    cursor: pointer;
    display: inline !important;
    float: none !important;
    margin-right: 20px;
    padding-bottom: 5px;
}

.carousel-indicators li.active {
    border-bottom: 3px solid #D00C18;
    font-weight: bold;
}

.carousel-indicators li:hover {
    border-bottom: 3px solid #D00C18;
}

.hora {
    font-size: 30px;
    line-height: 45px;
    vertical-align: middle;
    text-align: right;
}

.conteudo-calendario {
    line-height: 20px !important;
}

.conteudo-calendario p {
    text-indent: 0;
}

.palestrantes .row {
    margin: 20px 0;
}

.palestrantes .row .span8 {
    padding: 20px 0;
}

.palestrantes .row .span8.offset1 {
    text-align: right;
}

.patrocinios .row {
    margin-bottom: 50px;
    margin-top: 50px;
}

.patrocinios .row.separator {
    margin-top: 100px;
}

.patrocinios .row img {
    margin: 0 20px;
}

#map {
    height: 500px;
    padding: 0;
    width: 100%;
}

.endereco {    
    background-color: white;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: -500px;
    margin-top: -450px;
    padding: 30px;
    position: absolute;
    right: 50%;
    z-index: 9999;
}

.footer {
    background-color: #500509;
    color: #CCC;
    padding-bottom: 40px;
}

.footer h2 {
    color: white;
}

.logo-ufscar {
    margin-bottom: 80px;
    max-height: 250px;
}

.organizadores {
    list-style: none;
}

.organizadores li {
    border-left: 2px solid white;
    display: inline;
    line-height: 35px;
    margin-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}

.contato {
    margin-top: 20px;
}

.contato-info span {
    margin-left: 30px;
}

.contato-info span a {
    color: white;
}

.contato-info span i {
    margin-right: 5px;
}

.inscricoes {
    margin-top: 50px;
    text-align: center;
}

.call4paperz {
    margin-top: 80px;
}